
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 500;
  src: url(/assets/fonts/barlowCondensed/BarlowCondensed-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  src: url(/assets/fonts/barlowCondensed/Barlow-Regular.woff2) format('woff2');
}


@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  src: url(/assets/fonts/firaMono/FiraMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 500;
  src: url(/assets/fonts/firaMono/FiraMono-Medium.woff2) format('woff2');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans-Regular'),
    url(/assets/fonts/openSans/regular/OpenSans-Regular.ttf) format('ttf'),
    url(/assets/fonts/openSans/regular/OpenSans-Regular.woff2) format('woff2'),
    url(/assets/fonts/openSans/regular/OpenSans-Regular.woff) format('woff'),
    url(/assets/fonts/openSans/regular/OpenSans-Regular.eot) format('eot');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url(/assets/fonts/openSans/bold/OpenSans-Bold.ttf) format('ttf'),
    url(/assets/fonts/openSans/bold/OpenSans-Bold.woff2) format('woff2'),
    url(/assets/fonts/openSans/bold/OpenSans-Bold.woff) format('woff'),
    url(/assets/fonts/openSans/bold/OpenSans-Bold.eot) format('eot');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url(/assets/fonts/openSans/italic/OpenSans-Italic.ttf) format('ttf'),
    url(/assets/fonts/openSans/italic/OpenSans-Italic.woff2) format('woff2'),
    url(/assets/fonts/openSans/italic/OpenSans-Italic.woff) format('woff'),
    url(/assets/fonts/openSans/italic/OpenSans-Italic.eot) format('eot');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Open Sans BoldItalic'), local('OpenSans-BoldItalic'),
    url(/assets/fonts/openSans/boldItalic/OpenSans-BoldItalic.ttf) format('ttf'),
    url(/assets/fonts/openSans/boldItalic/OpenSans-BoldItalic.woff2)
      format('woff2'),
    url(/assets/fonts/openSans/boldItalic/OpenSans-BoldItalic.woff)
      format('woff'),
    url(/assets/fonts/openSans/boldItalic/OpenSans-BoldItalic.eot) format('eot');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url(/assets/fonts/openSans/semibold/OpenSans-Semibold.ttf) format('ttf'),
    url(/assets/fonts/openSans/semibold/OpenSans-Semibold.woff2)
      format('woff2'),
    url(/assets/fonts/openSans/semibold/OpenSans-Semibold.woff)
      format('woff'),
    url(/assets/fonts/openSans/semibold/OpenSans-Semibold.eot) format('eot');
}


/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-100.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-100.woff') format('woff'); */
/*   font-weight: 100; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-100i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-100i.woff') format('woff');
  font-weight: 100;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-200.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-200.woff') format('woff'); */
/*   font-weight: 200; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-200i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-200i.woff') format('woff');
  font-weight: 200;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-300.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-300.woff') format('woff'); */
/*   font-weight: 300; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-300i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-300i.woff') format('woff');
  font-weight: 300;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-400.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-400.woff') format('woff'); */
/*   font-weight: 400; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-400i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-500.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-500.woff') format('woff'); */
/*   font-weight: 500; */
/*   font-style: normal; */
/* } */

/* 
@font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-500i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-500i.woff') format('woff');
  font-weight: 500;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-600.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-600.woff') format('woff'); */
/*   font-weight: 600; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-600i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-600i.woff') format('woff');
  font-weight: 600;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-700.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-700.woff') format('woff'); */
/*   font-weight: 700; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-700i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-700i.woff') format('woff');
  font-weight: 700;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-800.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-800.woff') format('woff'); */
/*   font-weight: 800; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-800i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-800i.woff') format('woff');
  font-weight: 800;
  font-style: italic;
} */

/* @font-face { */
/*   font-family: 'Rawline'; */
/*   src: url('/assets/fonts/rawline/rawline-900.woff2') format('woff2'), */
/*     url('/assets/fonts/rawline/rawline-900.woff') format('woff'); */
/*   font-weight: 900; */
/*   font-style: normal; */
/* } */

/* @font-face {
  font-family: 'Rawline';
  src: url('/assets/fonts/rawline/rawline-900i.woff2') format('woff2'),
    url('/assets/fonts/rawline/rawline-900i.woff') format('woff');
  font-weight: 900;
  font-style: italic;
} */

